.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('/bg-stars.svg'), url('/pattern-hills.svg');
  background-color: hsl(234, 17%, 12%);
  background-position: top, bottom; 
  background-size: fit, fit;
  background-repeat: no-repeat, no-repeat;
}

@media screen and (min-width: 768px) {
  .main {
    background-size: contain, contain; 
  }
}
